/* Created and maintained by Piotr Tekieli */
/* Last modification on 21.12.2016 by Nuha (L127 - L168) */

html, body {
    height: 100vh; /* 100% of Viewport Height */    
    background: #ffffff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'crimson'; 
    font-size: 14px;   
    color: #fff;
}

#content-wrapper {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;   
    height: 95vh;  
     
    max-height: 1026px; /* FULL HD Height */
}

footer, header {
    height: 2.5vh;
    min-height: 19.2px; /* HD "Ready" Notebook Display 1366x768 */ 
    max-height: 27px; /* FULL HD Height */
}

#left-column, #right-column, #lc-upper-row, #lc-lower-row, #rc-upper-row, #rc-lower-row, #map {
    height: 100%;
    margin: 0;   
}


#left-column, #right-column {
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

#rc-upper-row, #rc-lower-row {
    height: 43.5vh;    
}

#lc-upper-row {
    height: 67vh
}


#lc-lower-row {
    height: 20vh;
}


#lc-upper-row, #lc-lower-row, #rc-upper-row, #rc-lower-row {
    border-radius: 25px;
}

#lc-lower-row {
    padding: 10px;    
}

#lc-upper-row {    
    padding: 2.5%;    
}

#cpanel-header, #cpanel-graphs-header {
    height: 35px;
}

#cpanel-map, #cpanel-line {
    height: 70px;    
}

#cpanel-graphs {
    height: 60%;
}

.break {
    height: 2.5vh;
}

.zero-margins {
    margin: 0px;   
}

.black-transparent-background {
    background: rgba(0, 0, 0, 0.35);    
}

.text-center {
    text-align: center;
}



.bottons {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cut-upper-corners {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.cut-lower-corners {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.legend {
    line-height: 20px;
    color: #FFF;
}

.legend i {
    width: 20px;
    height: 20px;    
    float: left;
    margin-right: 10px; 
    opacity: 0.65;  
}

.legend p {
    text-align: center;
}

.axis .tick {
    fill: rgb(255, 255, 255);
    color: #FFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.axis line{
  stroke: rgb(255, 255, 255);
  stroke-width: 1px;
  fill: rgb(255, 255, 255);
}

.axis path{
  fill: rgb(255,255,255);
}

.axis text{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  fill: rgb(255,255,255);
}

.sserif {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    fill: rgb(255, 255, 255);
}

.axisclass {
  stroke: rgb(255, 255, 255);
  stroke-width: 2px;
  fill: rgb(255, 255, 255);
}

.toppad {
    padding-top: 10px;
}

#chart-title {
    padding-left:60px; 
    color: #fff;
}